// $background-color: #FFFAFA;
$background-color: #F9F7F3;
// $background-beige: #f5f5dc;
// $background-ivory: #FFFFF0;

$background-beige: #FAF9F6;
$background-ivory: #fffafa;

$offwhite: #faf9f9;
$text-color: #2C3E50;
$avatar-border: #007BA7;
$nickname-color: #34495E;

$skill-card-color: #96CCF6;
$skill-card-header: $nickname-color;

$exp-card-bg: #FFF8DC;
$exp-card-title: #B8860B;
$exp-card-body: #8B4513;
$exp-card-footer: #D2B48C;
$exp-card-footer-2: #CD853F;

$timeline-margin: 50px;
$project-aspect-ratio: 1.333;

$submit-color1: #f5f5dc;
$submit-color2: #FFF8DC;
$submit-text-color: #333;
$submit-border-radius: 30px;
$submit-transition-speed: 0.4s;

$contact-form-bg: #fdf8e6;
$input-bg: #fffdf3;
$contact-form-border-color: #e4d9c3;
$contact-form-focus-color: #d4b996;